In [4]:
number= int(input("Enter the number:"))
s=0
for i in range (number):
    s=s+i
print(s)

Enter the number:5
10

In [17]:
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [20]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [22]:
for i in range(0,10,1):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [25]:
for i in range(10,0,-1):
    print(i,i**2)

10 100
9 81
8 64
7 49
6 36
5 25
4 16
3 9
2 4
1 1

In [33]:
n=int(input("Enter th length of the series:"))
for i in range(10,(n+1)*10 ,10):
    print(i, end=",")

Enter th length of the series:9
10,20,30,40,50,60,70,80,90,

In [55]:
n=int(input("Enter th length of the series:"))
for i in range(10,(n*20) ,20):
    print(i, end=",")

Enter th length of the series:6
10,30,50,70,90,110,

In [60]:
n=int(input("Enter th length of the series:"))
for i in range(100,100-(n*5) ,-5):
    print(i, end=",")

Enter th length of the series:8
100,95,90,85,80,75,70,65,

In [12]:
n=int(input("Eter the number of rows of your pattern:"))
for i in range (0,n):
    for j in range(0,i+1):
        print("*", end=" ")
        
    print(" ")

Eter the number of rows of your pattern: 15

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * * *

In [ ]:
'''
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

'''

In [15]:

for i in range (1,6):
    for j in range(1,i+1):
        print(i, end=" ")
        
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
'''
1
1 2
1 2 3  
1 2 3 4 
1 2 3 4 5


'''

In [18]:

for i in range (1,6):
    for j in range(1,i+1):
        print(j, end=" ")
        
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
'''
1 1 1 1 1
2 2 2 2
3 3 3 
4 4 
5


'''

In [41]:
for i in range (1,6):
    for j in range(6-i,0, -1):
        print(i, end=" ")
    
    print(" ")

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [60]:
for i in range(1, 6):
    for j in range(5, i-1,-1):
        print(i,end=" ")
    print('')

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [61]:
n = int(input("Enter size: "))
row = 1
for i in range(n, 0, -1):
    for j in range(1, i+1):
        print(row, end=" ")
    row += 1
    print()

Enter size: 5
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [61]:
n = int(input("Enter size: "))
row = 1
for i in range(n, 0, -1):
    for j in range(1, i+1):
        print(row, end=" ")
    row += 1
    print()

Enter size: 5
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [82]:
start=1
stop=2
current_num = stop

for i in range(2, 6):
    for j in range(start, stop): 
        current_num -=1
        print(current_num, end=' ')
    print()
    start = stop        #2, 4
    stop += i           #2+2=4, 4+3=7
    current_num = stop  # 4, 7

1
3 2
6 5 4
10 9 8 7